<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net471" />
  <package id="CDorst.Common.Functions.GetRelativePath" version="1.0.1" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="DataGridExtensions" version="1.0.41" targetFramework="net471" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net471" />
  <package id="Markdig" version="0.16.0" targetFramework="net471" />
  <package id="Markdig.Wpf" version="0.2.8" targetFramework="net471" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="PrettyBin-Custom" version="1.1.1" targetFramework="net471" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net471" />
  <package id="Splat" version="7.2.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
</packages>